#!/usr/bin/env bash

# hooks copied from https://gist.github.com/luukvbaal/2c697b5e068471ee989bff8a56507142
# which was posted in this discussion https://github.com/Jguer/yay/issues/772

set -euo pipefail
echo "Setting up pacman hooks, copying to defailt /etc/pacman.d/hooks/"

SRC="{{ .chezmoi.homeDir }}/.config/pacmanhooks"
DEST="/etc/pacman.d/hooks"

if [ -d "$SRC" ]; then
  echo "Syncing pacman hooks..."

  sudo mkdir -p "$DEST"
  sudo rsync -av --delete "$SRC"/ "$DEST"/
fi
echo "Finished setting up pacman hooks"
